extends ../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/services.css`)

block main
  .heading
    h1 Our Services
    p We provides various logistical services that students can apply for.
  .container-services
    .service
      img(src=`${baseUrl}/static/images/services/locker.svg`, alt="")
      .description
        h1 Locker Service
        p.
          Application for locker services is open all year round. Simply fill in 
          #[a(href="http://bit.ly/soclocker_application", target="_blank") this form]
          to get a locker located in School of Computing! Do spend a minute or so reading our locker usage 
          #[a(href="http://bit.ly/soclockerterms", target="_blank") Terms & Conditions]
          and do remember to clear away your stuff at the end of your locker validity period or risk having them disposed away!
    .service
      img(src=`${baseUrl}/static/images/services/extension_cord.svg`, alt="")
      .description
        h1 Extension Cord Loan
        p.
          We provide Extension Cord Loan services to all computing undergraduates on a daily basis.
          Simply knock on our clubroom’s door and request for it from any Management Committee
          member and sign out! If there’s no one in when returning, you can drop it into the
          Extension Cord Returning Box just outside our clubroom!
    .service
      img(src=`${baseUrl}/static/images/services/board_game.svg`, alt="")
      .description
        h1 Board Games Loan
        p.
          We also have quite a range of board games available for loan to all computing
          undergraduates. Similar to how Extension Cord Loan works, simply approach any of our
          Management Committee to notify them of your intention to loan board games and sign out for
          them! Just let us know if you wish to browse through our collection before deciding!
    .service
      .description
        h1 Need Help?
        p.
          Feel free to contact us at 
          #[a(href="mailto:connect@nuscomputing.com", target="_blank") connect@nuscomputing.com]
          if you have any further queries. 
